@import 'tailwindcss';

body.dark-mode {
  background-color: #1A1A1A;
  color: white;
}

body.light-mode {
  background-color: white;
  color: black;
}

/* Tema claro */
.section-light {
  /* background: linear-gradient(to right, #ef4444, #f97316); */
  background-color: dodgerblue;
  color: white;
}

/* Tema escuro */
.section-dark {
  background-color: #1A1A1A;
  color: white;
}

.section-light .title-gradient {
  color: #333333;
}

/* Título com gradiente no modo escuro */
.section-dark .title-gradient, .section-dark .card-title {
  background: linear-gradient(to right, #ef4444, #f97316);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Botão padrão */
.section-button {
  font-weight: 600;
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  transition: transform 0.3s ease;
}

.section-button:hover {
  transform: scale(1.05);
}

/* Botão texto no modo escuro */
.section-dark .section-button {
  color: black;
  background: linear-gradient(to right, #ef4444, #f97316);
}

/* Botão texto no modo claro */
.section-light .section-button {
  color: white;
  border-width: 1px;
  background-color: dodgerblue;
}

/* Card para modo escuro */
.card-dark {
  background-color: #0F0F0F;
  color: white;
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.card-dark:hover {
  transform: scale(1.05);
}

/* Card para modo claro */
.card-light {
  background-color: #f3f4f6; /* Tailwind gray-100 */
  color: black;
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.section-light .card-title {
  color: dodgerblue;
}

.card-light:hover {
  transform: scale(1.05);
}

.section-light .form {
  border: 1px solid white;
}
/* Campo de formulário */
.form-field {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #4B5563; /* gray-700 */
  background-color: #0F0F0F;
  color: white;
  font-size: 1rem;
  transition: border 0.3s ease;
}

.form-field::placeholder {
  color: #9CA3AF; /* gray-400 */
}

.section-dark .form-field:focus {
  outline: none;
  border-color: #f97316; /* orange-500 */
}

.section-light .form-field {
  background-color: #f9fafb; /* gray-50 */
  color: black;
}

.section-light .form-field::placeholder {
  color: #6B7280; /* gray-500 */
}

.section-light .form-field:focus {
  outline: none;
  border-color: #f97316;
}
